doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		title Error
	body
		.container-fluid
			.row
				.col-12
					h1= message
					h2= error.status
					pre #{error.stack}
					p
						a(href='/') Return
		script(language='javascript', src='/js/jquery.min.js')
		script(language='javascript', src='/js/bootstrap.min.js')
