extends top

block title
	title Reset Password

block action
	h2 Reset Password
	p Please follow the password reset instructions sent to your email.
	| If you have not yet activated your account, please request a 
	span
		a(href='resend-activation') new activation
	| .

