extends top

block title
	title Activate Account

block action
	h2 Account Activation
	p Please follow the account activation instructions sent to your email.
	| If your activition link has expired, please request a 
	span
		a(href='resend-activation') new one
	| .

