extends top

block title
	title Change Password

block action
	form(action='change-password' method='post')
		.form-group
			label(for='password') Password (30 character max)
			input(
				required
				type='password'
				name='password'
				maxlength=30
			).form-control
		.form-group
			label(for='repassword') Re-enter password
			input(
				required
				type='password'
				name='repassword'
				maxlength=30
			).form-control
		button(type='submit').btn.btn-primary Change

