extends top

block title
	title Reset Password

block action
	h2 Please enter your email address.
	p.
		An email will be sent to you with a link that you can use to reset
		your password.
	form(action='request-reset-password' method='post')
		.form-group
			label(for='email') Email Address
			input(type='email' name='email' required).form-control#email
		button(type='submit').btn.btn-primary Reset Password
