doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		block title
	body
		.container(style='padding-top: 50px')
			.row
				.col-sm-12.offset-sm-0.col-lg-6.offset-lg-3
					div(class= serverClass)= error
					block action
					p.pt-3
					hr
					p
						a(href='/') Home
