doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/all.css')
	body
		.container
			header
				.row.pt-2
					.offset-md-1.col-md-10.col-sm-12.text-center
						a(href='/')
							img(src='/img/repete.io.png' width='300px')
					.col-sm-12.col-md-1.text-right
						a.small(href='/user/' + logAction)=logAction
			hr
			.row
				.col-12.text-center
					h2
						a(href='/liddycam') Liddycam <i class="fas fa-cat"></i>
			.row
				.col-12.text-center
					h2
						a(href='/pinger') Network Uptime <i class="fas fa-wave-square"></i>
			.row
				.col-12
					div(class= serverClass)= warning
